
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----------Tags---------- */

header {
  width: 100%;
  background-image: url(./photos/headerTexture.jpg);
  position: fixed;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  box-shadow:0 0 12px rgb(0, 0, 0);
}

nav {
  display: block;
  display: flex;
  justify-content: space-between;
}

a {
  font-size: xx-large;
  color:rgb(215, 236, 255);
  text-decoration: none;
}

a.hover {
  cursor: pointer;
}

/* ----------Classes---------- */

.currentPage {
  pointer-events: none;
  color: rgb(196, 196, 196);
  text-decoration: underline;
}

/* ----------IDs---------- */

#logo {
  display: flex;
  align-items: center;

  padding: 0 0 2% 5%;

  font-weight:800;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  color:azure;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: azure;


}

#links {
  display: flex;
  flex-direction: column;

  padding: 2% 5%;
}