
* {
  box-sizing: border-box;
}

/* ----------Tags---------- */

a.hover {
  cursor: pointer;
}

/* ----------Classes---------- */

.currentPage {
  pointer-events: none;
  color: rgb(61, 61, 61);
  text-decoration: none;
}

/* ----------IDs---------- */